<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!--配置持久层对象-->
    <!--配置加载属性资源文件-->
    <context:property-placeholder location="classpath:db.properties"/>

    <!--配置数据源对象-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <!--注入连接数据库的四个基本要素-->
        <property name="driverClassName" value="${db.driver}"/>
        <property name="url" value="${db.url}"/>
        <property name="username" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
    </bean>

    <!--配置mybatis框架核心对象SqlSessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--注入数据源对象-->
        <property name="dataSource" ref="dataSource"/>

        <!--加载mybatis框架的主配置文件-->
        <!--<property name="configLocation" value="classpath:mybatis/sqlMapConfig.xml"/>-->

        <!--配置别名整合-->
        <property name="typeAliasesPackage" value="com.itheima.pojo"/>
    </bean>

    <!--配置mapper接口代理对象-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--配置包扫描,说明：
            1.如果有多个包，在同一个父包下吗？在同一个父包，只需要父包可以
            2.如果不在同一个父包：以半角逗号进行分割：,
            com.itheima.ssm.dao
            com.itcast.ssm.dao
            <property name="basePackage" value="com.itheima.ssm.dao,com.itcast.ssm.dao"></property>
        -->
        <property name="basePackage" value="com.itheima.dao"/>
    </bean>

</beans>